/* body */
body{
  background-color: #EFD6AC;
}
/* Header */
header{
  display: grid;
  grid-template-columns: 150px auto;
  font-size: 22px;
  background-color: #183A37;
  border: 5px solid #04151f;
}
.logo{
    max-width: 50%;
    grid-column: 1/2;
    height: auto;
  }
nav {
  display: flex;
  justify-content: space-around;

}
nav a{
  text-align: center;
  color: #04151f;
  text-decoration: none;
  padding: 35px;
}
nav a:hover{
  background-color: #c44900;
  color: white;
}
/* footer */
footer{
  color: #04151f;
  font-size: 1.2em;
  padding: 25px 50px;
  margin-top: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #183A37;
  border: 5px solid #04151f;
}
footer a{ 
  color: #04151f;
  text-decoration: none;
}
footer a:hover{
  background-color: #c44900;
  color: white;
}
.logo{
  width: 80px;
}
.icon{
  width: 80px;
  padding-top: 10px;
}
/* Home Page  */

.home-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
}
.accomplishments{
 grid-column: 1/3;
 grid-row: 1/2;
 text-align: center; 
}
.personal_project{
  max-width: 300%;
  height: auto;
  grid-column: 1/2;
  grid-row: 3/4;
  border: 5px solid #04151f;
}
.service_project{
  max-width: 300%;
  height: auto;
  border: 5px solid #04151f;
}
.container1{
  grid-column: 1/2;
  grid-row: 3/4;
  margin-top: -200px;
}
.container2{
  grid-column: 2/3;
  grid-row: 2/3;
  margin-left: -1425px;
  margin-top: -300px;
}
.container1, .container2 {
  position: relative;
  width: 50%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 303%;
  opacity: 0;
  transition: .5s ease;
  background-color: #c44900;
}
.container2 .overlay{
  height: 71.5%;
}


.container1:hover .overlay {
  opacity: 1;
}
.container2:hover .overlay{
  opacity: 1;
}

.first_text, .second_text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* About Me */
.home-grid-2{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  place-items: center;
}
.about_me{
  grid-column: 1/3;
  text-align: center;
}
.photo_in_bed{
  max-width: 30%;
  height: auto;
  grid-column: 2/3;
  grid-row: 2/3;
}

.silly_hat{
  max-width: 30%;
  height: auto;
  grid-column: 1/2;
  grid-row: 2/3;
}
.cutie_toffee{
  max-width: 25%;
  height: auto;
}
.my_family{
  max-width: 50%;
  height: auto;
}
.Seattle_Supersonics{
  max-width: 25%;
  height: auto;
}
.Seinfeld{
  max-width: 50%;
  height: auto;
}
.Allen_Iverson{
  max-width: 50%;
  height: auto;
}
.caption{
  text-align: center;
  line-height: 1.5em;
  padding: 35px;
  background-color: #183A37;
  color: #EFD6AC;
  border: 10px solid #04151f;
}
.section_1{
grid-column: 1/2;
grid-row: 2/3;
text-align: center;
padding-right: 10px;
}
.section_2 {
  grid-column: 2/3;
  grid-row: 2/3;
  text-align: center;
}
.section_3 {
  grid-column: 1/2;
  grid-row: 3/4;
  text-align: center;
  padding-right: 10px;
}
.section_4 {
  grid-column: 2/3;
  grid-row: 3/4;
  text-align: center;
}
.section_5 {
  grid-column: 1/2;
  grid-row: 4/5;
  text-align: center;
  padding-right: 10px;
}
.section_6 {
  grid-column: 2/3;
  grid-row: 4/5;
  text-align: center;
}
.section_7 {
  grid-column: 1/2;
  grid-row: 5/6;
  text-align: center;
  padding-right: 10px;
}
.section_8 {
  grid-column: 2/3;
  grid-row: 5/6;
  text-align: center;
}
.caption h2{
  color: #04151f;
}
img {
  border: 5px solid #04151f;
}

/* Silly Dog */
.home-grid-3{
  display: grid;
  grid-template-columns: 200px 200px 200px 200px 200px 200px 200px;
  grid-template-rows: 100px 100px 100px 100px 100px 100px 100px;
}

.silly_dog{
  grid-column: 1/8;
  grid-row: 1/2;
  text-align: center;
}
.silly_dog p{
  font-size: large;
}
.toffee_asleep{
  max-width: 100%;
  height: auto;
  grid-column: 1/2;
  grid-row: 4/6;
  margin-left: 50px;
}
.toffee_jacket{
  max-width: 75%;
  height: auto;
  grid-column: 2/4;
  grid-row: 3/5;
  margin-left: 100px;
  margin-top: -50px;
}

.baby{
  max-width: 75%;
  height: auto;
  grid-column: 2/5;
  grid-row: 5/7;
  margin-left: 50px;
}
.donut{
  max-width: 100%;
  height: auto;
  grid-column: 5/8;
  grid-row: 3/8;
  margin-top: -75px;
}
.milk{
  max-width: 75%;
  height: auto;
  grid-column: 4/6;
  grid-row: 3/5;
}
.trouble{
  max-width: 100%;
  height: auto;
  grid-column: 1/2;
  grid-row: 3/4;
  margin-left: 100px;
  z-index: -1;
  margin-top: -67px;
}
.venom  {
  max-width: 60%;
  height: auto;
  grid-row: 4/7;
  grid-column: 6/8;
  margin-left: 100px;
}
.watermelon{
  max-width: 75%;
  height: auto;
  grid-column: 5/7;
  grid-row: 5/7;
  margin-left: 25px;
}